<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(((string)ViewBag.Title).ToString().Localize())</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css/ui")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            $(".open-tab").click(function () {
                var label = $(this).text();
                var url = $(this).attr("href");
                var id = "tabs" + url.replace(/\//g, "");
                window.parent.openTab(id, label, url);
                return false;
            });           
        });
    </script>
</body>
</html>